[Unit]
Description=Backend flask
After=network.target
#W ants=ase.service

[Service]
User=root
Group=root
Type=simple
# EnvironmentFile=/srv/www/environment
# Environment="FLASK_DEBUG=0"
# ExecStart=/usr/bin/python3 /home/teamD/finalProjects/Camera-Khesa/src/camera.py
# WorkingDirectory=/home/teamD/finalProjects/Camera-Khesa/src/
# Restart=always
ExecStart=/home/teamD/finalProjects/Camera-Khesa/src/startauto.sh

[Install]
WantedBy=multi-user.target
