[Unit]
Description=Drowsiness Detection FastAPI Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/raspberrypi/drowsiness_detection
ExecStart=/home/raspberrypi/drowsiness_detection/scripts/start.sh
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target